@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: rgb(34 197 94) rgb(243 244 246);
}

html {
  overflow: hidden;
}

body {
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  color: #374151;
  background-color: #fff;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(243 244 246);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(34 197 94);
  border-radius: 20px;
  border: 3px solid rgb(243 244 246);
}

html {
  overflow-x: hidden;
}


button {
  outline: none !important
}

a {
  text-decoration: none !important
}

:invalid {
  color: rgba(156, 163, 175, 1);
}

@layer components {
  .base-input {
    @apply rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent mt-2
  }
  .wrapper-content {
    @apply md:ml-72 mt-4 bg-white h-screen p-4 rounded-lg
  }
  .title {
    @apply text-2xl font-bold
  }
  .subtitle {
    @apply text-lg text-orange-500 font-bold
  }
}